@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #b8f8ff;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #042580;
  text-decoration: none;
}

.menu{
  margin-top:4vh;
  margin-left:8vh;
}

.menu li {
  float: left;
  padding-right: 30px;
  font-size: 1.8em;
  color: #7e8585;
  list-style-type: none;
}

.menu li a {
    color: #7e8585;
    text-decoration: none;
}

.menu li a:hover {
  color:blue;
  transition: 0.5s;
  text-decoration: underline;
  opacity: 0.6;
}
#title{
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: #7e8585;
  font-family: 'Quicksand', sans-serif;
}

h1, p {
  text-align: center;
}

p {
  font-size: 1.0em;
}

.portfolio {
  width:50%;
}

.imgdes {
  color:#7e8585
  font-family: 'Quicksand', sans-serif;
}

#herelink {
  color: white;
}

.description {
  width: 70%
}

#p5a {
  height: 700px;
  border: none;
}

#p5b {
  height: 700px;
  border: none;
}

footer{
  background-color: #7e8585;
}

button {
  font-size:1.3em;
  padding 5px;
  boarder: blue solid 2pc;
}
